.container {
  display: inline-grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  line-height: 0;
  position: relative;
}

.svgContainer {
  position: relative;
  display: block;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  left: 0;
  font-family: var(--font-geist-sans);
  font-weight: 100;
  line-height: normal;
  color: var(--color-text-primary);
  font-size: 30px;
  white-space: pre;
  z-index: 1;
  margin: 0;
}

.subtitle {
  position: absolute;
  left: 0;
  font-family: var(--font-geist-sans);
  font-weight: 200;
  line-height: normal;
  font-size: 20px;
  color: var(--color-accent-soft);
  white-space: pre;
  z-index: 1;
  margin: 0;
}

